.job-card {
   margin: 5px;
    width: 22vw;
  margin-bottom: 6vh;
    border-radius: 8px;
    padding: 24px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.company-logo{
    width: 60px;
    height: 60px;
    border: 2px black solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
   
   
}
.building-logo{
   font-size: 1.82rem;
}

.job-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.company-details {
    flex: 1;
   
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 30px;
}



.company-info{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 2px;

    
}

.company-info h3,
.company-info p {
    margin: 0;
    padding: 0;
    text-align: left;
}

.company-info h3{
    color: rgb(76, 76, 76);
}

.job-description-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }

.description{
    margin-bottom: 10px;
    text-align: left; 
   
   
}


.description p{
    margin-top: 2px;
}

.salary-info p{
color: rgb(0, 0, 0);
font-weight: 300;
}

.company-details img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.job-description p {
    margin-bottom: 10px;
   align-self: left;
    
}


.job-role{
color: rgb(110, 110, 110);
font-weight: 600;
line-height: 1.2rem;
}

.job-location{
font-size: .75rem;
margin-top: 9px;
}

.show-more-btn {
    
    color: #4000d4;
    border: none;
    
   font-weight: 500;
    cursor: pointer;
    
}
.exp-wrapper p {
    font-size: 0.95rem;
    text-align: start;
 
}

.exp-wrapper span{
    font-size:1rem;
   font-weight: 700;
   color: rgb(103, 103, 103);
}

.apply-button button {
    width: 94%;
    background-color: #54efc3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.apply-button button:hover,
.show-more-btn:hover {
    opacity: 0.8;
}

.flash-icon{
    color: rgb(251, 255, 42);
    font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
    .job-card {
      flex-direction: row;
      
    }
  
    .company-details {
      flex: 1;
    }
  
    .job-description {
      flex: 1;
    }
  
    .apply-button {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 768px) {
    .job-card{
        width: 90vw;
    }
  }