.main-logo{
 background-color:  #54efc3;;
 height: 8vh;
 margin-bottom: 4vh;
 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.logo-content{
  margin-left: 6vw;
  font-size: 1.5rem;
  font-weight: 600;
}

.logo-dot{
  font-size: 3rem;
  color: rgb(211, 211, 0);
}


.loading{
 display: flex;
justify-content: center;
align-items: center;
}